<div class="input-box">
    <div class="input-field col s6">
        <i class="fa fa-lock prefix"></i>
        <input id="oldpsw" type="password" class="validate" maxlength="16" minlength="6" ng-model="oldpsw" ng-blur="checkOld();">
        <label for="psw" data-error="请输入6~16位的密码">旧密码：</label>
    </div>
    <div class="input-field col s6">
        <i class="fa fa-lock prefix"></i>
        <input id="psw" name="password" type="password" class="validate" maxlength="16" minlength="6" ng-model="psw" required>
        <label for="psw" data-error="请输入6~16位的密码">密码：</label>
        <span class="error" ng-show="password.$invalid">密码格式错误</span>
    </div>
    <div class="input-field col s6" ng-init="wrongpsd= false">
        <i class="fa fa-lock prefix"></i>
        <input id="repsw" type="password" class="validate" maxlength="16" minlength="6" ng-model="repsw" required ng-blur="checkrepsw();">
        <label for="repsw">再次输入密码：</label>
        <span class="error" ng-show="wrongpsd">两次密码不一致</span>
    </div>
    <div class="login-btn">
        <a class="waves-effect waves-light btn" ng-click="changePsw();">修改密码</a>
    </div>
</div>