<div ng-controller="HomeController">
    <div class="header-logo">
        <img src="public/images/logo.png" class="applogo">
    </div>
    <div class="header-title">
        <span>{{title}}</span>
    </div>
    <!--<div class="header-search">-->
        <!--&lt;!&ndash;<a href="#/searchbox" ng-click="showSearchBox()"><i class="fa fa-search fa-2x"></i></a>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="search-box" ng-show="searchshow">-->
        <!--<a href="#/home" id="search-back" ng-click="hideSearchBox()"><i class="fa fa-arrow-left fa-2x"></i></a>-->
        <!--<input type="text" id="search-input" ng-model="searchtext">-->
        <!--<a href="#/search" id="search"><i class="fa fa-search fa-2x"></i></a>-->
    <!--</div>-->
</div>