<div class="row">
    <div class="col s12 m7">
        <div class="card small">
            <div class="card-image">
                <img src="public/images/1.jpg">
            </div>
            <div class="card-content">
                <p>新手第一章：游戏主体介绍</p>
            </div>
            <div class="card-action clearfix">
                <a href="#" style="float: right">进去看看</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card small">
            <div class="card-image">
                <img src="public/images/1.jpg">
            </div>
            <div class="card-content">
                <p>新手第二章：游戏剧情介绍</p>
            </div>
            <div class="card-action clearfix">
                <a href="#" style="float: right">进去看看</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card small">
            <div class="card-image">
                <img src="public/images/1.jpg">
            </div>
            <div class="card-content">
                <p>新手第三章：游戏操作以及副本介绍</p>
            </div>
            <div class="card-action clearfix">
                <a href="#" style="float: right">进去看看</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card small">
            <div class="card-image">
                <img src="public/images/1.jpg">
            </div>
            <div class="card-content">
                <p>新手第四章：值得培养的强力从者</p>
            </div>
            <div class="card-action clearfix">
                <a href="#" style="float: right">进去看看</a>
            </div>
        </div>
    </div>
</div>
